body{
    background-image: url(../images/baacck.jpg);
    margin: 0px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 480px) and (min-width: 800px){
    body{
    background-image: url(../images/baacck.jpg);
    margin: 0px;
    background-repeat: no-repeat;
    }
}


div.container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    grid-template-areas: "left right";
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    
}

div.left{
    background-color: rgb(16, 148, 137);
    grid-area: left;
    border-radius: 6px;
}

img.left_background{
    width:550px;
    height:600px;
}

div.logo_holder{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.185);
    position: relative;
    z-index: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -400px;
}

div.welcome_text{
    width: 80%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.507);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: auto;
}


div.right{
    background-color: rgb(255, 255, 255);
    grid-area: right;
    border-radius: 6px;
}
div.holder{
    width: 40%;
    height: 40px;
    margin-left: 370px;
    margin-top: 10px;
    padding-top: 1px;
    display: flex;
}

div.top_right_switch_buttonA{
    width: 50%;
    height: 35px;
    background-color: rgb(12, 4, 122);
    margin-top: 2px;
    line-height: 35px;
}

a.top_right_switch_buttonB_linkA{
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.logo_top_cont{
    width: 20%;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

div.welcome_head{
    width: 100%;margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2.welcomeback_head{
    width: 50%;
    color: rgb(12, 4, 122);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

div.input_cont{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

input.username{
    width: 80%;
    height: 30px;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 2px groove rgb(12, 4, 122);
    border-radius: 5px;
}

input.username:hover{
    background-color: rgba(137, 43, 226, 0.199);
}

input.password{
    width: 80%;
    height: 30px;
    display: block;
    margin-top: -230px;
    margin-left: auto;
    margin-right: auto;
    border: 2px groove rgb(12, 4, 122);
    border-radius: 5px;
}

input.password:hover{
    background-color: rgba(137, 43, 226, 0.199);
}

div.check_box{
    width: 100%;
    margin-top: 30px;
    padding-left: 60px;
}

div.login_button{
    width: 20%;
    height: 30px;
    margin-top: 40px;
    margin-left: 180px;
    margin-right: auto;
}

a.login_link{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 4, 122);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

div.forgot{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4.forgot_text{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
}